@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');

/*------------ [_Root] -----------*/
:root {

  /* Colors */
  --brown-color: #580801;
  --white-color: #FFFFFF;
  --text-color: #555555;
  --black-color: #333333;



  /* FontStyle*/
  --font: 'Poppins','sans-serif';
  

  /* Font Sizes */
  --font-seventy: 2.875rem;
  --font-fifty: 2rem;
  --font-twentyFour: 1.2rem;
  --font-twenty: 1.15rem;
  --font-eighteen: 1rem;
  --font-sixteen: .8725rem;
  --font-fourteen: .88rem;
  --font-twelve: .75rem;
}

@media screen and (min-width:900px) {
    :root {
        --font-seventy: 4.375rem;
        --font-fifty: 3.125rem;
        --font-twentyFour: 1.5rem;
        --font-twenty: 1.25rem;
        --font-eighteen: 1.125rem;
        --font-sixteen: 1rem;
        --font-fourteen: .88rem;
        --font-twelve: .75rem;
    }
}

/*========================================*/
/*------------ [_Reset_Styles] -----------*/
/*========================================*/
*,
::before,
::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}




/*========================================*/
/*--------------- [_Utility] -------------*/
/*========================================*/
body {
    max-width: 2560px;
    height: 100vh;
    background: var(--white-color) url(../src/assets/Lines.svg);
    font-family: var(--font);
    color: var(--text-color);
    letter-spacing: -0.5px;
}

p, h1, h2, h3,
h4, h5, h6{
    padding: 0;
    margin: 0;
}

h2, h3,
h4, h5, h6 {
    color: var(--black-color);
    font-family: var(--font);
}

p {
    font-size: var(--font-fourteen);
    line-height: 1.5rem;
    color: var(--text-color);
}

h1 {
    font-size: var(--font-seventy);
    font-style: normal;
    font-weight: 900;
    font-size: 70px;
    line-height: 78px;
    text-transform: capitalize;
    color: var(--white-color);
}

h2 {
    font-size: var(--font-fifty);
    line-height: 2rem;
    font-weight: 700;
}

h3 {
    font-size: var(--font-twentyFour);
    line-height: 2rem;
    font-weight: 600;
}

h4 {
    font-size: var(--font-twenty);
    line-height: 1.5rem;
    font-weight: 600;
}

h5 {
    font-size: var(--font-eighteen);
    font-weight: 600;
    line-height: 1.5rem;
}

h6 {
    font-size: var(--font-sixteen);
    line-height: 1.2rem;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: inherit;
    font-family: var(--font);
}


img {
  border: none;
  max-width: 100%;
  background-position: center;
  background-size: cover;
}

/*--------------- [Body Wrapper] -------------*/
 .mainWrapper{
  display: grid;
  height: 100%;
  grid-template-columns: 100%;
  overflow: hidden;
  background: url(../src/assets/Vector\ 1.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
} 
